<% breadcrumb :user_basket, current_user %>
<div class="inner">
  <span class="menu-btn-wrapper"><%= link_to 'メニューに戻る', products_path , class: "menu-btn"%></span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">商品名</th>
        <th scope="col">トッピング</th>
        <th scope="col">価格</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @product_toppings.each do |product_topping| %>
        <tr class="product">
          <td><%= product_topping.product.name %></td>
          <td>
            <% unless product_topping.topping_names.empty?%>
              <%= product_topping.topping_names %>
            <% end %>
          </td>
          <td><%= "#{product_topping.product_topping_price.to_s(:delimited)}円" %></td>
          <td>
            <%= link_to product_topping_delete_in_baskets_path(product_topping), method: :post, data: {confirm: '削除してもいいですか？'} do %>
              <span class="btn btn-outline-secondary">削除する</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @product_toppings.empty? %>
    <div class="text-center lead">お買い物カゴに商品はありません</div>
  <% else %>
    <div class="float-right badge badge-secondary ">
      <span><%= "お支払い合計金額 : #{@total_price.to_s(:delimited)}円"%></span>
    </div>
    <br>
    <div class="charge-btn">
      <%= link_to 'メニューに戻る', products_path , class: "menu-link"%>
      <%= link_to "購入画面に進む", new_reservation_charges_path, class: "charge-green-btn"%>
    </div>
  <% end %>
  <div class="recommend">
    <h3>おすすめ商品</h3>
    <div class="previews">
      <div class="slider">
        <% @recommend_product.each do |product| %>
          <div class="recommend-product-wrapper">
            <div class="recommend-product-image-wrapper">
              <%= link_to product_path(product) do %>
                <%= image_tag product.image, class: "recommend-product-image" %>
              <% end %>
            </div>
            <p class="recommend-product-name"><%= product.name %></p>
            <p class="recommend-product-name"><%= product.display_price %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
