<div class="wrapper">
  <div class='inner'>
    <div class="information-wrapper">
      <h3>最新情報投稿</h3>
      <div class="info-new-contents">
        <%= form_with model: [:admins, @information], url: "/admins/informations", local: true do |f| %>
          <div class="info-content-data">
            <%= f.text_field :title, placeholder: "タイトルを入力", class: "info-content"%>
            <%= f.text_area :text, placeholder: "テキストを入力", rows: "5", class: "info-content textarea" %>
          </div>
          <div class="info-image-upload">
            <%= f.file_field :image, accept: '.jpeg, .jpg, .gif, .png, .bmp', class: "information-content" %>
          </div>
          <div class="info-submit">
            <%= f.submit "投稿する", class: "btn btn-outline-secondary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
