<div class="wrapper">
  <div class='inner'>
    <div class="information-wrapper">
      <div class="info-index-contents">
        <% informations.each do |information| %>
          <div class="info-index-content">
            <div class="info-index-content-image">
              <% if information.image.attached? %>
                <%= image_tag information.image %>
              <% else %>
                <%= image_tag "sample-logo.png" %>
              <% end %>
            </div>
            <div class="info-index-content-data">
              <div class="info-index-content-head">
                <h4><%=link_to information.title, edit_admins_information_path(information)%></h4>
                <%= link_to "削除する", admins_information_path(information), method: :delete, class: "btn btn-outline-dark"%>
              </div>
              <p><%= information.text %></p>
              <span class="update-date"><%= "更新日時 #{information.updated_at.to_s(:datetime_jp)}" %><span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
