<div class="dashboard-wrapper">
  <%= render partial: 'admins/dashboards/side_bar' %>
  <div class="admin-tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">メッセージルーム</label>
    <div class="tab-content">
      <div class="panel chat-tab">
        <div class="order-menu">
          <table>
            <tbody>
              <tr>
                <th>予約日付</th>
                <td colspan="2"><%= "#{@reservation.day} / #{@reservation.get_time_zone}"%></td>
              </tr>
              <tr>
                <th>お客様氏名</th>
                <td colspan="2"><%= "#{@reservation.user.last_name} #{@reservation.user.first_name}様" %></td>
              </tr>
              <tr>
                <th>利用人数</th>
                <td colspan="2"><%= @reservation.get_count_person %></td>
              </tr>
              <tr>
                <th>合計料金</th>
                <td colspan="2"><%= "#{@reservation.total_price.to_s(:delimited)}円" %></td>
              </tr>
              <tr>
                <th>商品</th>
              </tr>
              <% @products.each do |product| %>
                <tr>
                  <th rowspan="2"><%= image_tag product.product.image %></th>
                  <td><%= product.product.name %></td>
                </tr>
                <tr>
                  <td class="topping"><%= product.topping_names%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="chat-message">
          <% if @messages.blank? %>
            <p class="no-message">メッセージはありません</p>
          <% else%>
            <div class="chat-block">
              <% @messages.each do |message| %>
                <div class="message">
                  <% if message.user %>
                    <div class="admin-message">
                      <span class="text"><%= message.message %></span>
                      <span class="time"><%= message.created_at.to_s(:datatime_jp) %></span>
                    </div>
                  <% else %>
                    <div class="user-message">
                      <span class="time"><%= message.created_at.to_s(:datatime_jp) %></span>
                      <span class="text"><%= message.message %></span>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @close_reservation %>
            <p class="orver-three">来店日を3日以上過ぎている為、メッセージ送信はできません</p>
            <span class="admins-rooms-back"><%= link_to "＜ 戻る", admins_rooms_path %></span>
          <% else %>
            <div class="submit-block">
              <%= form_with model: [:admins, @message], url: admins_message_path, class:"submit", local: true do |f| %>
                <span class="rooms-back"><%= link_to "＜ 戻る", admins_rooms_path %></span>
                <%= f.text_field :message, class:"message-form" %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.submit "送信", class:"submit-btn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
