<%# かんたんログインボタン %>
<div class="wrapper">
  <div class="inner">
    <div class="test-signin-wrapper">
      <%= form_with model: @user, url: user_session_path, class: 'test-signin', local: true do |f| %>
        <div class="field">
          <%= f.hidden_field :email, value: "test@test.jp" %>
          <%= f.hidden_field :password, value: "test1234" %>
        </div>
        <div class="actions-left">
          <%= f.submit "かんたんログイン(ユーザー)", class: "test-user-signin-btn" %>
        </div>
      <% end %>
      <%= form_with model: @admin, url: admin_session_path, class: 'test-signin', local: true do |f| %>
        <div class="field">
          <%= f.hidden_field :email, value: "kota@gmail.com" %>
          <%= f.hidden_field :password, value: "taku1234" %>
        </div>
        <div class="actions-rigth">
          <%= f.submit "かんたんログイン（管理者）", class: "test-admin-signin-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
