<% breadcrumb :user_sessions %>
<div class="wrapper">
  <div class="inner">
    <h3 class="user-new-headtitle">管理者ログイン</h3>
    <div class="user-new-contents">
      <%= form_with model: resource, as: resource_name, url: admin_session_path, class: 'registration-main', local: true do |f| %>
        <div class="user-new-form">

          <div class="user-form-group">
            <%= f.label :メールアドレス, class: 'lavel' %>
            <%= f.email_field :email, class:"user-input-default", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>

          <div class="user-form-group">
            <%= f.label :パスワード, class: 'lavel' %>
            <%= f.password_field :password, class:"user-input-default", placeholder:"" %>
          </div>

          <div class='register-btn'>
            <%= f.submit "ログインする" ,class:"register-green-btn" %>
          </div>
        </div>
      <% end %>
      <%# かんたんログイン %>
      <%= render 'devise/registrations/test_signin' %>
    </div>
  </div>
</div>
