<% unless current_user.address %>
  <p>ご住所の登録はありません</p>
  <p>配送商品をご購入する場合にはご住所のご登録が必要となります。<p>
  <%= link_to "住所を登録する", new_address_path, class: 'btn btn-outline-secondary '%>
<% else %>
  <%= form_with model: address, url: "/addresses/#{@address.id}", local: true do |f| %>
    <div class='address-form'>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">郵便番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :postal_code, class:"input-default", placeholder:"例）123-4567", maxlength:"8" %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">都道府県</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">市区町村</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :city, class:"input-default", placeholder:"例）横浜市緑区"%>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">番地</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :block, class:"input-default", placeholder:"例）青山1-1-1"%>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">建物名</label>
          <span class="form-any">任意</span>
        </div>
        <%= f.text_field :building, class:"input-default", placeholder:"例）柳ビル103"%>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">電話番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :phone_number, class:"input-default", placeholder:"例）09012345678",maxlength:"11"%>
      </div>
      
    </div>
    <div>
      <%= f.submit "保存", class: "btn btn-outline-dark"%>
      <%= link_to "削除", address_path(current_user), method: :delete, class: "btn btn-outline-dark" if current_user.address %>
    </div>
  <% end %>
<% end %>