<% unless current_user.address %>
  <div class="not-contents">
    <p>ご住所の登録はありません</p>
    <p>配送商品をご購入する場合にはご住所のご登録が必要となります。<p>
    <span class='address-btn-wrapper'><%= link_to "住所を登録する", new_address_path, class: 'address-btn'%></span>
  </div>
<% else %>
  <div class="user-account-contents">
    <%= form_with model: @address, url: "/addresses", local: true do |f| %>
      <div class='user-new-form'>

        <div class="user-form-group">
          <%= f.label :郵便番号（必須）, class: 'lavel'%>
          <%= f.text_field :postal_code, class:"user-input-default", placeholder:"例）123-4567", maxlength:"8" %>
        </div>

        <div class="user-form-group">
          <%= f.label :都道府県（必須）, class: 'lavel'%>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"user-input-default"}) %>
        </div>

        <div class="user-form-group">
          <%= f.label :市区町村（必須）, class: 'lavel'%>
          <%= f.text_field :city, class:"user-input-default", placeholder:"例）横浜市緑区"%>
        </div>

        <div class="user-form-group">
          <%= f.label :番地（必須）, class: 'lavel'%>
          <%= f.text_field :block, class:"user-input-default", placeholder:"例）青山1-1-1"%>
        </div>

        <div class="user-form-group">
          <%= f.label :建物名, class: 'lavel'%>
          <%= f.text_field :building, class:"user-input-default", placeholder:"例）柳ビル103"%>
        </div>

        <div class="user-form-group">
          <%= f.label :電話番号（必須）, class: 'lavel'%>
          <%= f.text_field :phone_number, class:"user-input-default", placeholder:"例）09012345678",maxlength:"11"%>
        </div>
        <div class='address-update-btn-wrapper'>
          <%= link_to "削除", address_path(current_user), method: :delete, class: "address-delete-btn", data: {confirm: '削除してもいいですか？'} if current_user.address %>
          <%= f.submit "更新する", class: "address-update-btn"%>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
