<div class='form-header'>
  <h1 class='form-header-text'>
    クレジットカード情報
  </h1>
</div>

<% if card %>
  <div class="form-group">
    <div class="Card_info">
      【カード番号】
      <br>
      <%= "**** **** **** " + card[:last4] %>
      <br>
      【有効期限】
      <br>
      <%= card[:exp_month] %>/<%= card[:exp_year] %>
    </div>
    <%= link_to "登録削除", card_path(current_user), method: :delete, class: 'btn btn-outline-secondary '%>
  </div>
<% else %>
  <p>クレジットカードの登録はありません</p>
  <%= link_to "カードを登録する", new_card_path, class: 'btn btn-outline-secondary '%>
<% end %>