<div class="wrapper">
  <!-- .header -->
  <header class="header">
    <h1 class="logo">
      <div class="logo-title">Fuuun Ramen</div>
      <div class="logo-subtitle">モバイルオーダー受付中</div>
    </h1>
  </header>
  <!-- /.header -->
  <main class="content">
    <!-- .works-section -->
    <section class="works-section section" id="works-section">
      <div class="inner">
        <div class="section-heading">
          <h2 class="heading-primary">商品一覧</h2>
        </div>
        <div class="section-lead">
          <p>ネットからのご注文では店頭価格より10％OFFとお得です<br>ご注文には事前に会員登録が必要となります。</p>
        </div>
        <div class="section-body works">
          <div class="works-list js-my-gallery">
            
            <% @products.each do |product| %>
            <figure class="works-item">
              <%= link_to product_path(product) do %> 
                <div data-size="960x720" class="works-image-wrapper works-link hover-action">
                  <%= image_tag product.image.variant(resize:'960x720'), class: "works-image" if product.image.attached? %>
                </div>
              <% end %>
              <figcaption class="works-body">
                <div class="works-title"><%= product.name %></div>
                <div class="works-text"><%= product.text %></div>
                <div class="works-text"><%= product.display_price %></div>
                <%= link_to "買い物カゴに追加", product_path(product), class: "works-url-link btn btn-outline-dark" %>
              </figcaption>
            </figure>
            <% end %>

          </div>
        </div>
      </div>
    </section>

    <!-- .about-section -->
    <section class="about-section section" id="about-section">
      <div class="inner">
        <div class="section-heading">
          <h2 class="heading-primary">コンセプト</h2>
        </div>
        <div class="section-lead">
          <p>
            本物だけを届ける
          </p>
        </div>
        <div class="section-body about">
          <div class="about-item">
            <div class="about-image-wrapper">
              <%= image_tag "expert.jpg", size: '500x500', class: "about-image"%>
              <%= image_tag "noodles.jpg", size: '500x500', class: "about-image"%>
              <%= image_tag "soup.jpg", size: '500x500', class: "about-image"%>
            </div>
            <div class="about-body">
              <h3>ブームの火付け役・食材追求のパイオニア</h3>
              <p>
                中華蕎麦とみ田／手打式超多加水面ののくら／麺庵ちとせなど、1970年代に日本中を熱狂させたラーメンブームは麺から始まった。<br><br>
                風雲ラーメン・初代店主の風間青雲は食材追求するパイオニアとして、本物の商品を届けるべく日本中を走り続けてきた。</p>
              <br>
              <br>
              <h3>飽くなき食材追求の伝統</h3>
              <p>
                初代店主から食材追求の伝統受け継いた2代目店主・大河原敏郎は風雲ラーメンのリブランドを行い、Fuuun Ramenを立ち上げた。<br><br>
                麺とスープ、食材の追求をさらなる次元に引き上げるために。
              </p>
              <br>
              <br>
              <h3>市場に流通しない生産農家さんとの直接契約</h3>
              <p>
                「納得のいかないものは出さない」そんな職人マインドを持つ生産者の協力を日本中を駆け回り集めてきました。<br><br>
                市場には流通しない圧倒的な品質の食材を使用した日本で一番こだわったといえる一杯を是非ご賞味ください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.about-section -->

    <!-- .skill-section -->
    <section class="skill-section section" id="skill-section">
      <div class="inner">
        <div class="section-heading">
          <h2 class="heading-primary">ニュース</h2>
        </div>
        <div class="section-lead">
          <p>
            魂込めて営業中！
          </p>
        </div>
        <div class="section-body skill">
          <div class="skill-list">
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">HTML5/CSS3</h3>
                <div class="skill-rating rating">
                  <div class="rate rate4"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">JavaScript</h3>
                <div class="skill-rating rating">
                  <div class="rate rate3"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">WordPress</h3>
                <div class="skill-rating rating">
                  <div class="rate rate4"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">Photoshop</h3>
                <div class="skill-rating rating">
                  <div class="rate rate4"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">Illustrator</h3>
                <div class="skill-rating rating">
                  <div class="rate rate3"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-image-wrapper">
                <img class="skill-image" src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-body">
                <h3 class="skill-title">XD</h3>
                <div class="skill-rating rating">
                  <div class="rate rate3"></div>
                </div>
                <p>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.skill-section -->

    <!-- .contact-section -->
    <section class="contact-section section" id="contact-section">
      <div class="inner">
        <div class="section-heading">
          <h2 class="heading-primary">CONTACT</h2>
        </div>
        <div class="shop-info-wrapper">
          <%= image_tag "shop_image.jpg", size: "500x500" %>
          <div class="shop-info">
            <ul class="shop-data">
              <li>【住　　所】  〒121−0000　東京都世田谷区宮坂2−10−1</li>
              <li>【営業時間】  10:00 〜 翌2:00</li>
              <li>【電話番号】  03 - 3333 - xxxx</li>
            </ul>
            <div class="contact">
              <table>
                <tr>
                  <td align="right"><b> お名前：</b></td>
                  <td><input type="text" name="name" size="40" maxlength="20"></td>
                </tr>
                <tr>
                  <td align="right"><b> メールアドレス：</b></td>
                  <td><input type="text" name="name" size="40" maxlength="20"></td>
                </tr>
                <tr>
                  <td align="right"><b> お電話番号：</b></td>
                  <td><input type="text" name="name" size="40" maxlength="20"></td>
                </tr>
                <tr>
                  <td align="right"><b> お問い合わせ内容：</b></td>
                  <td><textarea rows="10" cols="40">お問い合わせ内容をご入力ください</textarea></td>
                </tr>
              </table>
            </div>
          <div>
        </div>
        <div class="section-lead">
          <p>
            お問い合わせありがとうございます。
          </p>
        </div>
        <div class="section-body contact">
          <ul class="contact-list">
            <li class="contact-item">
              <a class="contact-link" href="https://twitter.com/" target="_blank"><img class="contact-image"
                  src="img/contact/icon_tw.png" alt=""></a>
            </li>
            <li class="contact-item">
              <a class="contact-link" href="https://www.facebook.com/" target="_blank"><img class="contact-image"
                  src="img/contact/icon_fb.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- /.contact-section -->

  </main>

  <!-- .footer -->
  <footer class="footer">
    <div class="page-top" id="js-page-top">
      トップへもどる
    </div>
    <div class="inner">
      <div class="copyright">Copyright&copy;Fuuun Ramen. All Rights Reserved.</div>
    </div>
  </footer>
  <!-- /.footer -->

</div>

<!-- 下記はPhotoswipeプラグイン用 -->
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">

      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>

        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <button class="pswp__button pswp__button--share" title="Share"></button>

        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>