<% breadcrumb :product_show, @product %>
<div class="inner">
  <div class="product-show-wrapper">
    <div class="product-name">
      <p><%= @product.name %></p>
    </div>
    <div class="product-body">
      <div class='product-img-wrapper'>
        <%= image_tag @product.image, class:"product-img" %>
        <div class="eat-block">
          <%= render partial: 'eat', locals: { product: @product} %>
        </div>
      </div>
      <div class="product-info">
        <div class="product-info-block">
          <div class="headline">
            商品情報
          </div>
          <p class="card-text"><%= @product.text %></p>
        </div>
        <div class="product-info-block">
          <div class="headline">
            トッピングをお選びください
          </div>
          <% unless @topping.any? %>
            <p class="topping-alert">現在お選びできるトッピング商品がありません</p>
          <% end %>
          <%= form_with model: @product_topping, url: product_add_to_baskets_path(@product), product_id: @product.id, local: true do |f| %>
            <div class="topping-check">
              <%= f.collection_check_boxes(:topping_ids, @topping.all, :id, :name, include_hidden: false) do |b|%>
                <div class="topping">
                  <%= b.label do %>
                    <%= b.check_box %>
                    <%= b.object.name %>
                    <%= "#{b.object.price}円" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="headline">
              商品価格
            </div>
            <p class="price"><%= @product.display_price %></p>
            <div class="product-submit">
              <%= link_to "商品一覧に戻る", products_path, class: "products-back-btn"%>
              <% unless admin_signed_in? %>
                <%= f.submit '買い物かごに入れる', class: 'btn btn-outline-success' %>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="product-show-wrapper">
    <div class="comment-box">
      <p>商品に対するコメント一覧</p>
    </div>
  </div>
</div>
