<% breadcrumb :user_new_charge, current_user %>
<div class="inner">
  <div class="wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">トッピング</th>
          <th scope="col">価格</th>
        </tr>
      </thead>
      <tbody>
        <% @product_toppings.each do |product_topping| %>
          <tr class="product">
            <td><%= product_topping.product.name %></td>
            <td><%= product_topping.topping_names %></td>
            <td><%= "#{product_topping.product_topping_price.to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ご予約日</th>
          <th scope="col">ご来店時刻</th>
          <th scope="col">ご利用人数</th>
        </tr>
      </thead>
      <tbody>
        <tr class="product">
          <td><%= @day %></td>
          <td><%= @time_zone %></td>
          <td><%= @count_person %></td>
        </tr>
      </tbody>
    </table>

    <div class="float-right">
      <%= form_with url: charges_path, local: true do |f| %>
        <% @product_toppings.each do |product_topping| %>
          <%= f.hidden_field "product_topping_ids[]", value: product_topping.id %>
        <% end %>
        <div class="float-right badge badge-secondary ">
          <%= "お支払い合計金額 : #{@total_price.to_s(:delimited)}円"%>
        </div>
        <br>
        <div>
          <%= f.submit '購入する', class: "btn btn-lg btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
