<div class="dashboard-wrapper">
  <%= render partial: 'side_bar' %>
  <div class="admin-tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">ダッシュボード</label>
    <div class="tab-content">
      <div class="panel">
        <div class="dashboard-content">
          <div class="monthly-data">
            <h3>今月の進捗</h3>
            <div class="data-content">
              <p class="data-title">売上</p>
              <span class="data"><%= "#{@total_price.to_s(:delimited)}円" %></span>
            </div>
            <div class="data-content">
              <p class="data-title">来客数</p>
              <span class="data"><%= "#{@count_person.to_s(:delimited)}名" %></span>
            </div>
            <div class="data-content">
              <p class="data-title">テイクアウト件数</p>
              <span class="data"><%= "#{@count_takeout.to_s(:delimited)}名" %></span>
            </div>
            <h3><%= "本日の予約（#{@today}）"%></h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">来店日時</th>
                  <th scope="col">お客様</th>
                  <th scope="col">来店人数</th>
                  <th scope="col">合計金額</th>
                  <th scope="col">商品</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @reservations.each do |reservation| %>
                  <tr class="product">
                    <td>
                      <%= link_to admins_reservation_path(reservation) do %>
                        <span class="reservate-link"><%= "#{reservation.day} / #{reservation.get_time_zone}"%></span>
                      <% end %>
                    </td>
                    <td><%= "#{reservation.user.last_name} #{reservation.user.first_name}様" %></td>
                    <td><%= reservation.get_count_person %></td>
                    <td><%= "#{reservation.total_price.to_s(:delimited)}円" %></td>
                    <td>
                      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter<%= reservation.id %>">
                        販売商品の詳細
                      </button>
                    </td>
                    <div class="modal fade" id="exampleModalCenter<%= reservation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">商品詳細</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <% reservation.order_record_products.each do |order_record_product| %>
                              <div>
                                <%= order_record_product.product_topping.product.name %>
                                <%= order_record_product.product_topping.topping_names%>
                              </div>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <p class="result-nil"><%= "本日のご予約は現在ありません" if @reservations.blank? %></p>
          </div>
        </div>
        <div class="dashboard-content">
          <div class="search-data">
            <h3>売上データ検索</h3>
            <%= search_form_for @p, url: admins_root_path do |f| %>
              <div class="search-form">
                <%= f.label :day, '来店日', class: "search-label" %>
                <%= f.date_field :day_gteq, include_blank: true, class: "date-field" %>
                <span class="serach-label">~</span>
                <%= f.date_field :day_lteq, include_blank: true, class: "date-field"  %>
                <%= f.submit '検索', class: "search-btn" %>
              </div>
            <% end %>

            <%# 検索結果の個数で条件分岐 %>
            <% if @p.result.length != 0 && params[:q] %>
              <div class="data-content">
                <p class="data-title">売上</p>
                <span class="data"><%= "#{@results_total_price.to_s(:delimited)}円" %></span>
              </div>
              <div class="data-content">
                <p class="data-title">来客数</p>
                <span class="data"><%= "#{@results_count_person.to_s(:delimited)}名" %></span>
              </div>
              <div class="data-content">
                <p class="data-title">テイクアウト件数</p>
                <span class="data"><%= "#{@results_count_takeout.to_s(:delimited)}名" %></span>
              </div>
              <% if @target_period_range %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">日付</th>
                      <th scope="col">売上</th>
                      <th scope="col">来客数</th>
                      <th scope="col">テイクアウト数</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @target_period_range.each do |day| %>
                      <tr class="product">
                        <td><%= day %></td>
                        <td><%= ReservationsData.sales_for_target_day(@p.result, day) %></td>
                        <td><%= ReservationsData.customers_for_target_day(@p.result, day) %></td>
                        <td><%= ReservationsData.takeouts_for_target_day(@p.result, day) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p class="result-nil">日ごと詳細を確認する場合は検索対象日を入力してください</p>
              <% end %>
            <% else %>
              <p class="result-nil">表示する検索結果がありません</p>
            <% end %>
            <%= link_to "csvで出力する", admins_root_path(format: :csv, target_period_start: @target_period_range.first, target_period_end: @target_period_range.last, target_period: @target_period) if @target_period_range %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
