<div class="dashboard-wrapper">
  <%= render partial: 'side_bar' %>
  <div class="admin-tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">予約検索</label>
    <div class="tab-content">
      <div class="panel">

        <div class="dashboard-content">
          <div class="search-data">
            <%= search_form_for @p, url: admins_dashboards_search_path do |f| %>

              <div class="reservation-search-form">
                <div class="reservation-date-search-form">
                  <%= f.label :day, '来店日', class: "search-label" %>
                  <%= f.date_field :day_gteq, include_blank: true, class: "date-field" %>
                  <span class="search-label">~</span>
                  <%= f.date_field :day_lteq, include_blank: true, class: "date-field"  %>
                </div>
                <div class="user-search-form">
                  <%= f.label :user_nickname_or_user_first_name_or_user_last_name_or_user_first_name_kana_or_user_last_name_kana, "お客様名", class: "search-label" %>
                  <%= f.search_field :user_nickname_or_user_first_name_or_user_last_name_or_user_first_name_kana_or_user_last_name_kana_cont, class: "user-date-field" %>
                </div>
                <div class="reservation-search-user-check">
                  <%= f.label :count_person_id_in, "人数" , class: "search-label" %>
                  <div class="check-box-wrapper">
                    <%= f.collection_check_boxes(:count_person_id_in, CountPerson.all, :id, :name) do |b| %>
                      <%= b.label(class: "check-box-label") do %>
                        <%= b.check_box(class: "check_box") %>
                        <%= b.object.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <%= f.label :product_toppings_product_id_in, "商品", class: "search-label" %>
                  <div class="check-box-wrapper">
                    <%= f.collection_check_boxes(:product_toppings_product_id_in, Product.all, :id, :name) do |b| %>
                      <%= b.label(class: "check-box-label") do %>
                        <%= b.check_box(class: "check_box") %>
                        <%= b.object.name %>
                      <% end %>
                    <% end%>
                  </div>
                </div>
                <%= f.submit '検索', class: "search-btn-center" %>
              </div>
            <% end %>
          </div>
          <div class="search-data">
            <%# 検索結果の個数で条件分岐 %>
            <% if @results.length !=0 && params[:q] %>
              <h3>検索結果</h3>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">お客様名</th>
                    <th scope="col">来店日</th>
                    <th scope="col">来店時刻</th>
                    <th scope="col">ご利用人数</th>
                    <th scope="col">合計金額</th>
                  </tr>
                </thead>
                <tbody>
                  <% @results.each do |result| %>
                    <tr>
                      <th><%= link_to "#{result.user.last_name + result.user.first_name}様", admins_reservation_path(result) %></th>
                      <th><%= result.day %></th>
                      <th><%= result.get_time_zone %></th>
                      <th><%= result.get_count_person %></th>
                      <th><%= result.total_price %>円</th>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= link_to "csvで出力する", admins_dashboards_search_path(format: :csv, target_period: @target_period), class: "csv-btn" %>
            <% else %>
              <p class="result-nil">表示する検索結果はありません</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
